

body {
  font-family: sans-serif;
  padding: 10%;
  padding-top: 5%;
}
.description {
  width: 50%;
  height: 20%;
  font-size: 0.8em;
}

#about {
  width: 70%;
  height: 20%;
}

a {
  text-decoration: none;
  color: black;
}
